<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2 class="btn_clr">Welcome to NISSIN FOODS</h2>
    <p>
    NISSIN FOODS HOLDINGS has developed and operates its own rigorous food testing and quality assurance system, which monitors handling and processing safety.
    </p>
    <p>
      In 2002, we established the Food Safety Research Institute to develop a scientifically based quality assurance infrastructure, allowing consumers and their families total trust in our quality and safety. The institute monitors the quality of daily production through on-site quality surveys and process control, it plays a critical role in ensuring the quality of our products.
    </p>
    <p>
    In manufacturing process quality control, the institute posts supervisors to supplier sites to confirm “4M Control”, the confirmation of materials, methods, machines and manpower involved in manufacturing processes.
    </p>
  </ion-content>
</ion-view>
