<ion-view view-title="Products">
  <ion-content>
    <ion-list>
    <ion-item ng-click="vm.topRamen()">
    	Top Ramen<i ng-hide = "vm.hideRamen" class="ion-chevron-right FLT_RHT"></i>
    	<i ng-show = "vm.hideRamen" class="ion-chevron-down FLT_RHT"></i>
  	</ion-item>
  	<div ng-if = "vm.hideRamen" class="">
  		<img src="img/topramen.png" class="WDTH_100">
		<div class="PDG_15PX">
			<div class="CLR">Flavours Available</div>
			<p class=""><b><span>Masala:</span></b><span>&nbsp;The yummy masala in the taste mix plusthe noodles that are masala flavored and non-sticky gives you more taste andmore mazaa in every bite!</span></p>
			<p class=""><b><span>Chicken:</span></b><span>&nbsp;Tickle your taste buds with the TopRamen Instant Noodles Chicken flavour. The delicious chicken flavour along withthe non-sticky masala flavored noodles adds oodles of taste in a meal fit for achampion.</span></p>
			<p class=""><b><span>Curry:&nbsp;</span></b><span>Lip smacking. Wholesome. And 100% vegetarian.Top Ramen CurryVeg gives you veggie power with the smoothness of curry.</span></p>
			<p class=""><b><span>Oat Yummy Masala</span></b><span>:&nbsp;TheGoodness of oats combined with thisexciting, new masala makes this anirresistible treat.</span></p>
			<p class=""><b><span >Atta Masala:</span></b><span>&nbsp;Relishboth health and taste in one! Made from 100% wholesome Atta and packed with anexciting masala for delicious taste the Top Ramen Atta noodles is a fillingtreat for all.</span></p>
		</div>
  	</div>
  	<ion-item ng-click="vm.scoopies()">
    	Scoopies<i ng-hide = "vm.hideScoopies" class="ion-chevron-right FLT_RHT"></i>
    	<i ng-show = "vm.hideScoopies" class="ion-chevron-down FLT_RHT"></i>
  	</ion-item>
  	<div ng-if = "vm.hideScoopies">
  		<img src="img/scoopies.png" class="WDTH_100">
  		<div class="PDG_15PX">
	  		<p class="">Introducing Nissin Scoopies. It is short, pre-coated with rich masala on the inside and outside and spoonable. For the first time, you can enjoy short noodles coated with yummy gravy in every spoon. So, every bite is full of mastee.</p>
	    	<div class="CLR">Flavours Available</div>
	    	<p class=""><b><span>Mad Masala</span></b><span></p>
	    </div>
  	</div>
  	<ion-item ng-click="vm.cupNoodels()">
    	Cup Noodles<i ng-hide = "vm.hideCupNoodels" class="ion-chevron-right FLT_RHT"></i>
    	<i ng-show = "vm.hideCupNoodels" class="ion-chevron-down FLT_RHT"></i>
  	</ion-item>
  	<div ng-if = "vm.hideCupNoodels">
  		<img src="img/cupNoodels.png" class="WDTH_100">
		<div class="PDG_15PX">
			<div class="CLR">Flavours Available</div>
			<p class=""><b><span>Mazedaar Masala:</span></b><span>&nbsp; Not in the mood for something bland and too lazy to step out? A balanced taste of roasted masala with curry leaf in Mazedar Masala is what you need.</span></p>
			<p class=""><b><span>Veggi Manchow:</span></b><span>&nbsp;Craving some hot and spicy Manchow straight from the heart of China? With high roasted garlic and soya veggi taste, Manchow is just the answer for you!</span></p>
			<p class=""><b><span>Italiano:&nbsp;</span></b><span>Taste tomato and cheese pizza in every bite. Tour the Italian way with Nissin’s Cup Noodles’ Italiano flavour.</span></p>
			<p class=""><b><span >Spiced Chicken:</span></b><span>&nbsp;Scrumptious chicken noodle prepared specially for your taste-buds in just 3 minutes – sounds hard to believe? Try Spiced Chicken if you still haven’t! </span></p>
		</div>
  	</div>
    </ion-list>
  </ion-content>
</ion-view>
