<ion-view>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="date" ng-model="vm.date">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Area Name</span>
        <input type="text" ng-model="vm.areaName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Total call</span>
        <input type="number" ng-model="vm.totalCall">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Productive call</span>
        <input type="number" ng-model="vm.productiveCall">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Total order value</span>
        <input type="number" ng-model="vm.totalValue">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mobile No</span>
        <input type="tel" maxlength="10" ng-model="vm.mobileno">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Distrubitor</span>
        <input type="text" ng-model="vm.distrubitor">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Reporting Officer</span>
        <input type="text" ng-model="vm.reportingOfficer">
      </label>
    </div>
    <button class="button button-positive btn_clr WDTH_100 MRGB_15PX" ng-click="vm.submit()">
      Submit
    </button>
  </ion-content>
</ion-view>
