body {
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-image: url("/images/img1.jpg")
}
a {
  color: #00B7FF;
}
.hidden{
	display: none;
}
input{
	border: none;
	background: white;
	font-size: 17px;
}
.alignCenter{
	text-align: center;
	color: #666B85;
}
.button {
  background-color:white;
  border: none;
  color: white;
  padding: 0px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; Safari
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1px;
  font-family: Comic Sans MS;
}
.button1 {
  background-color: white; 
  color: #666B85; 
  border: 2px solid #ee2d24;
  float: right;
  margin-right: 10.5%;
}
.button1:hover {
  background-color: #ee2d24;
  color: white;
}
.bgcolor{
	background-color: #EBEBEB;
	padding-left: 20px;
}
.scrnColor{
	background-color: #fff;
}
.header_clr{
	background: #EBEBEB;
	height: 15%;
	/* background-image: url("/images/cardboard.jpg") */
}
.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  animation: float 5s infinite;
}  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
} 
tr:hover td{
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
tr:hover td input{
	color:#FFFFFF;
 }
tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
} 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
tr:nth-child(odd) td input{
  background:#EBEBEB;
} 
tr:nth-child(odd):hover td {
  background:#ee2d24;
}
tr:nth-child(even):hover td {
  background:#ee2d24;
}
tr:nth-child(odd):hover td input{
  background:#ee2d24;
}
tr:nth-child(even):hover td input{
  background:#ee2d24;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
} 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
} 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
td:last-child {
  border-right: 0px;
}
td.text-left {
  text-align: left;
}
td.text-center {
  text-align: center;
}
td.text-right {
  text-align: right;
}
h1{
	text-align: center;
	color: white;
	margin-top: -54px;
	margin-left: 20%;
	width: 59%;
	color: #ee2d24;
	font-family: Comic Sans MS;
	margin-top: -71px;
}
.mrgTop{
	float: right;
	margin-top: 8px;
}
textarea{
	margin-top: 4%;
}
textarea:hover{
	border:1px solid #ee2d24;
}
textarea:focus{
	outline: none !important;
	border:1px solid #ee2d24;
}
textarea:active{
	outline: none !important;
	border:1px solid #ee2d24;
}
.width100
{
	width: 100%;
	z-index: -1;
}
/* ::selection {
  background:  #ee2d24 !important;
} */
/* form{
	border-bottom: 4px solid #ee2d24;
} */
.footerImg{
	display: block;
	position: absolute;
}
.footerDiv{
	width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}
.footerCopy{
	position: absolute;
  margin-top: 8%;
  margin-left: 2.5%;
  color: #767676;
}
.messenger{
	width: 44.5%;
	margin: 0 auto;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
	border:1px solid black;
	margin-top: 2%;
}
.boxMsg{
	margin-top: 4% !important;
	font-size: 18px;
	display: block;
}
.textareaCmtbox{
 max-height:100px;
 min-height:100px; 
 resize: none;

}
.textScroll{
font-size: 16px;
font-weight: normal;
resize: none;
overflow-y: scroll;
}
.line{
	border-bottom: 4px solid #ee2d24;
	margin-top: 3%;
	border-top: none;
}


