html
  head.headColor
  link(rel='stylesheet',href='/stylesheets/style.css') 
  div.header_clr 
   img(src='/images/logo-nissin.png')
   img.mrgTop(src='/images/logo-topramen.png') 
   h1.marginTop Indonissin   
  body.scrnColor
    block header      
    block content
    hr.line
    block footer
    div.footerDiv
     img.footerImg(src='/images/logo-nissin.png')
     div.footerCopy
      strong
       &copy 2017 Nissin
       br
      All All Rights Reserved.
     img.width100(src='/images/footer.jpg')