extends layout

block content
    h2.alignCenter
      User User Provided Data
    div.alignCenter
      table.table-fill(border='1', align="center")
        tr
          td Date
          td 
            input(type='text', value=userdata.date, disabled)            
        tr
          td Area Name
          td 
            input(type='text', value=userdata.areaName, disabled)            
        tr
          td Total Call
          td 
            input(type='text', value=userdata.totalCall, disabled)  
        tr
          td Productive Call
          td 
            input(type='text', value=userdata.productiveCall, disabled)  
        tr
          td Total Value
          td
            input(type='text', value=userdata.totalValue, disabled)  
        tr
          td Mobile No
          td
            input(type='text', value=userdata.mobileno, disabled)            
        tr
          td Distributor
          td 
            input(type='text', value=userdata.distrubitor, disabled)
        tr
          td Reporting Officer
          td
            input(type='text', value=userdata.reportingOfficer, disabled)
      br
    div.messenger.alignCenter
     span.boxMsg Broadcast Messenger
      form(name="notify",method="post",action="/notify")
          input.hidden.textareaCmtbox(type="text", value=userdata.token, name="token")
          textarea.textScroll(rows='6', cols='50' name="replyText" id='replyText')
          br
          br
          button.button.button1(type="submit") Push
          br
          br