/* Empty. Add your own CSS if you like */
body{
	font-size: 10pt; 
	font-family: verdana, sans-serif;
}
.logo_nissin{
	width: 25%;
}
.WDTH_100{
	width: 100%;
}
.btn_clr{
	color: #ee2d24;
}
.WDTH_50{
	width: 50%;
}
.FLT_RHT{
	float: right;
}
.popup{
	border-radius: 10px !important;
	font-size: 17px;
}
.item.activated{
	border-color: #fff !important;
	background-color: #fff !important;
}
.PDG_15PX{
    padding: 15px;
}
.CLR{
	color: #ee2d24;
	font-size: 20px;
    text-align: center;
    margin: 15px 0px;
}
.HGT_50PX{
	height: 50px;
}
.TOP_10PX{
	top: 10px;
}
.MRGB_15PX{
	margin-bottom: 15px;
}
.view-container{
	height: 98% !important;
}